# http://editorconfig.org

root = true

[*]
charset = utf-8
indent_style = space
end_of_line = lf

[BUILD]
indent_size = 4

[CMakeLists.*]
indent_size = 4

[*.h, *.cc, *.cpp]
indent_size = 2

[*.md]
indent_size = 2